@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,600;1,400;1,600&family=Mulish:wght@400;600;800&display=swap');

:root {
  --swiper-theme-color: #235f83 !important;
  --swiper-pagination-top: 0 !important;
  --swiper-pagination-bullet-size: fit-content !important;
  --swiper-pagination-bullet-border-radius: 0 !important;
  --swiper-pagination-color: $accent-color !important;
  --swiper-pagination-bullet-inactive-color: $accent-color !important;
  --swiper-pagination-bullet-inactive-opacity: 0.5 !important;
  --swiper-pagination-bullet-opacity: 1 !important;
  --swiper-navigation-top-offset: calc(50% + 70px);
  --swiper-navigation-sides-offset: 20px;
}

html {
  scroll-behavior: smooth;
  // overflow-y: scroll;
  font-size: 10px;
}

body {
  font-size: 16px;
  line-height: calc(24 / 16);
  color: $main-color;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  background-color: $bg-color;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 480px;
  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }
  @media (min-width: $desktop-width) {
    padding: 0 4rem;
    max-width: $desktop-max-width;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .social-link {
    width: 48px;
    height: 48px;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .social-icon {
      // fill: white;
      transition: transform 0.3s ease;

      &__footer {
        // stroke: $light-text-color;
        // fill: $light-text-color;
        fill: $secondary-color;
      }
      &__header {
        // fill: transparent;
        // stroke: $accent-color;
        fill: $secondary-color;
      }
    }

    .social-icon:hover,
    .social-icon:focus {
      transform: scale(1.2);
    }

    & a {
      width: 48px;
      height: 48px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
