// @import './fonts/fonts';
@import './utils/variables';

@import './common';

@import './components/header';
@import './components/hero';
@import './components/benefits';
@import './components/about';
@import './components/services';
@import './components/timeline';
@import './components/price';
@import './components/faq';

@font-face {
  font-family: 'Kharkiv';
  src: url('./fonts/KharkivTone.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
