// @import './fonts/fonts';

@import './utils/variables';
@import './utils/mixins';
@import './utils/animations';

@import './common';

@import './components/button';
@import './components/title';

@import './layout/header';
@import './layout/hero';
@import './layout/benefits';
@import './layout/about';
@import './layout/call-to-action';
@import './layout/services';
@import './layout/timeline';
@import './layout/price';
@import './layout/faq';
// @import './layout/form';
@import './layout/modal';
@import './layout/footer';

@font-face {
  font-family: 'Kharkiv';
  src: url('./fonts/KharkivTone.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
