// @import './fonts/fonts';

@import './utils/variables';
@import './utils/mixins';
@import './utils/animations';

@import './common';

@import './components/button';
@import './components/title';

@import './layout/header';
// @import './layout/form';
@import './layout/modal';
@import './layout/footer';

@font-face {
  font-family: 'Kharkiv';
  src: url('./fonts/KharkivTone.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

// @import '~node_modules/baguettebox.js/dist/baguetteBox.min.css';
main {
  padding-top: 63px;
}

.info1 {
  // display: grid;
  // grid-gap: 10px;
  // grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  // grid-auto-rows: minmax(100px, 250px);
  // grid-auto-flow: dense;
  // background: linear-gradient(to right, #000000, #434343);

  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  grid-template-rows: 1fr 0.2fr 1.2fr;
  grid-gap: 8px;

  max-height: 330px;
  padding-bottom: 60px;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    // grid-auto-rows: minmax(100px, 300px);
    // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    // grid-template-rows: 300px 300px 150px 150px;
    // grid-auto-rows: 300px;
    // grid-template-columns: repeat(3, 1fr);
    // max-width: 60vw;
    // grid-template-columns: repeat(2, 1.5fr) 1fr;
    width: 394px;
    max-height: 365px;
    padding: 0;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    // justify-content: end;
    grid-template-columns: repeat(2, 0.7fr) 1.5fr;
    width: auto;
    max-width: 690px;
    max-height: 390px;
  }
}
// ----------------------
// ---------------------------

.figure-img {
  border: none;
}
.colored {
  // @include colored-bg;
}
.main {
  position: relative;
}

// $phone-width: 375px;
// $tablet-width: 768px;
// $mobile-and-table-only: 767px;
// $desktop-width: 1200px;
// $desktop-max-width: 1440px;

.active-tab {
  // background-color: rgb(51, 255, 0);
}
.wrapper-tab {
  position: relative;
  min-height: 1020px;
  margin: auto;

  @media (max-width: 450px) {
    min-height: 1040px;
  }
  @media (min-width: 575px) {
    width: 575px;
  }
}
.wrapper-tab > section {
  max-width: calc(100vw - 50px);

  @media (max-width: 767px) {
    padding: 0 0 0 2rem;
    min-height: 895px;
  }
  @media (max-width: 556px) {
    height: 1000px;
  }
}
.tabs {
 
  position: absolute;
  display: flex;
  height: 40px;
  top: 41px;
  right: -80px;
  transform: rotate(90deg);
}

.tabs-text {
  background: #fff;
  color: #235f83;
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 10px;
  border-top: 1px solid #235f83;
}
.tabs-text > img {
 height: 40px;
 
}
.portfolio-header {
  padding-top: 40px;
  margin-bottom: 12px;
  max-width: 370px;
}
.title.portfolio-header {
  @media (max-width: 480px) {
    font-size: 3rem;
  }
}
.cont {
  display: flex;
  flex-direction: column;
  min-height: 685px;
}

.portfolio-subtitle {
  max-width: 370px;
  line-height: 1.2;
  margin-bottom: 32px;
}
.portfolio-forWhom {
  display: none;
}
.portfolio-description {
  max-width: 370px;
  margin-top: 30px;
}
.portfolio-description > h4 {
  line-height: 1.5;
}
.portfolio-points {
  @media (max-width: 550px) {
    display: block;
    margin-bottom: 10px;
  }
  margin-top: 7px;
  display: grid;
  grid-template-columns: 45% 1fr;
  gap: 0 5px;
}
.points-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 5px;
  align-items: center;
}
.icon-dash {
  object-fit: none;
}

.content {
  min-height: 895px;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 8;
}
.content > .container {
  @include colored-bg;
  height: 100%;
  border-radius: 35px 0 35px 35px;
  position: relative;
  background: none;
  background: white;
  border-top: 1px solid #235f83;
  // padding: 0 30px;
  margin: auto;
}

// -----------------------------------------------
.business {
  min-height: 895px;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 7;
}
.business > .container {
  min-height: 895px;
  @include colored-bg;
  height: 100%;
  border-radius: 35px;
  position: relative;
}
.business > .container > .tabs {
  top: 137px;
  right: -84px;
}
// --------------------------------
.family {
  min-height: 895px;
  position: absolute;
  top: 65px;
  left: 0;
  left: 0;
  z-index: 6;
}
.family > .container {
  @include colored-bg;
  min-height: 895px;
  height: 100%;
  border-radius: 35px;
  position: relative;
}
.family > .container > .tabs {
  top: 245px;
  right: -94px;
}
// ----------------------------------

.product {
  position: absolute;
  min-height: 895px;
  top: 65px;
  left: 0;
  z-index: 5;
}
.product > .container {
  min-height: 895px;
  @include colored-bg;
  height: 100%;
  border-radius: 35px;
  position: relative;
}
.product > .container > .tabs {
  top: 371px;
  right: -105px;
}
// ---------------------------------------
.loveStory {
  position: absolute;
  min-height: 895px;
  top: 65px;
  left: 0;
  z-index: 4;
}
.loveStory > .container {
  @include colored-bg;
  min-height: 895px;
  height: 100%;
  border-radius: 35px;
  position: relative;
}
.loveStory > .container > .tabs {
  top: 509px;
  right: -105px;
}

// ---------------------------------------
.sacraments {
  position: absolute;
  min-height: 895px;
  top: 65px;
  left: 0;
  z-index: 3;
}
.sacraments > .container {
  @include colored-bg;
  height: 100%;
  border-radius: 35px;
  position: relative;
}
.sacraments > .container > .tabs {
  top: 642px;
  right: -98px;
}
// -----------------------------------

.portrait {
  position: absolute;
  min-height: 895px;
  top: 65px;
  left: 0;
  z-index: 2;
}
.portrait > .container {
  @include colored-bg;
  min-height: 895px;
  height: 100%;
  border-radius: 35px 0 35px 35px;
  position: relative;
  background: none;
  background: white;
  border-left: 1px solid #235f83;
  border-right: 1px solid #235f83;
}
.portrait > .container > .tabs {
  top: 760px;
  right: -96px;
}
.portrait > .active-tab > .tabs-text {
  box-shadow: 0 1px 0 0 #235f83;
}

// ------------------------------------------
// ++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++

.active-tab {
  // background-color: rgb(144, 27, 223);
}
@media (min-width: $tablet-width) {
  .wrapper-tab {
    width: 768px;
    min-height: 694px;
    height: 694px;
  }
  .wrapper-tab > section {
    max-width: 732px;
    width: 732px;
    padding-top: 0;
    padding-bottom: 0;
    left: 16px;

    min-height: 590px;
    height: 590px;
  }
  section > .container {
    padding: 0 30px;
  }
  .portfolio-header {
    max-width: 100%;
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .portfolio-subtitle {
    max-width: 390px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .cont {
    flex-direction: row;
    min-height: auto;
    justify-content: space-between;
  }
  .wrapper-cont {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .portfolio-description {
    max-width: 100%;
    margin-top: 0;
  }
  .portfolio-forWhom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 20px;
    top: 90px;
    font-size: 14px;
    line-height: 1.7;
  }
  .forWhom-wrap {
    display: flex;
    gap: 8px;
  }
  .icon-forWhom {
    object-fit: none;
  }
  .portfolio-points {
    grid-template-columns: 1fr;
  }

  .tabs {
    left: -1px;
    top: -35px;
    height: 35px;
    transform: rotate(0deg);
    width: auto;
    max-width: 100px;
  }
  .tabs-text {
    font-size: 13px;
    padding-top: 7px;
    text-transform: capitalize;
    border-top: 0.9px solid #235f83;
  }

  .content {
    width: 732px;
  }
  .content > .container {
    border-radius: 0 35px 35px 35px;
    height: 590px;
    min-height: 590px;
    border-left: 1px solid #235f83;
    border-right: 1px solid #235f83;
  }

  // -----------------------------------------------

  .business > .container {
    width: 732px;
    height: 590px;
    min-height: 590px;
  }
  .business > .container > .tabs {
    left: 73px;
    top: -35px;
  }

  .business .location {
    grid-template-columns: 45% 1fr;
  }

  // --------------------------------

  .family > .container {
    width: 732px;
    height: 590px;
    min-height: 590px;
  }
  .family > .container > .tabs {
    left: 160px;
    top: -35px;
  }
  // ----------------------------------

  .product > .container {
    position: relative;
    width: 732px;
    height: 590px;
    min-height: 590px;
  }
  .product > .container > .tabs {
    top: -35px;
    left: 258px;
  }
  // ---------------------------------------

  .loveStory > .container {
    width: 732px;
    height: 590px;
    min-height: 590px;
  }
  .loveStory > .container > .tabs {
    top: -35px;
    left: 375px;
  }
  .loveStory > .container > .tabs > .tabs-text {
    min-width: 90px;
  }

  // ---------------------------------------

  .sacraments > .container {
    width: 732px;
    height: 590px;
    min-height: 590px;
  }
  .sacraments > .container > .tabs {
    top: -35px;
    left: 496px;
  }
  .sacraments .portfolio-subtitle {
    margin-bottom: 10px;
  }
  // -----------------------------------

  .portrait > .container {
    width: 732px;
    height: 590px;
    min-height: 590px;
  }
  .portrait > .container > .tabs {
    top: -35px;
    left: 597px;
  }
}

// // ---------------------------------
// // ------------------------------------
@media (min-width: $desktop-width) {
  .wrapper-tab {
    width: 1200px;
    min-height: 810px;
    height: 810px;
    padding: 40px;
  }
  .wrapper-tab > section {
    max-width: 1100px;
    width: 1100px;
    left: auto;
    min-height: 666px;
    height: 666px;
    padding: 0;
  }
  .portfolio-subtitle {
   font-size: 25px;
   max-width: 700px;
   margin-bottom: 70px;
  }
  .cont {
    gap: 40px;
  }
  .portfolio-forWhom {
    right: 30px;
    top: auto;
    bottom: 466px ;
    font-size: 16px;
    line-height: 1.5;
  }
  .tabs {
    top: -63px;
    height: 63px;
    max-width: 200px;
  }
  .tabs-text {
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 22px;
    border-top: 1px solid #235f83;
  }


  // ------------------------------------------
  .wrapper-tab >.content {
    width: 1084px;
    // min-height: 666px;
    // height: 666px;
    top: 103px;
    // left: 50%;
    // transform: translateX(-51.5%);
    // padding: 0;
    
  }
  .content > .container {
    // @include colored-bg;
    min-height: 666px;
    height: 666px;
    // border-radius: 0 35px 35px 35px;
    // position: relative;
    // background: none;
    // background: white;
    // border-left: 1px solid #235f83;
    // border-right: 1px solid #235f83;
  }

  // -----------------------------------------------
  .wrapper-tab >.business {
    width: 1084px;
    top: 103px;
  }
  .business > .container {
    width: 1084px;
    min-height: 666px;
    height: 666px;
  }
  .business > .container > .tabs {
    left: 100px;
    top: -62px;
  }
  // --------------------------------
 .wrapper-tab >.family {
    width: 1084px;
    top: 103px;

  }
  .family > .container {
    width: 1084px;
    min-height: 666px;
    height: 666px;
  }
  .family > .container > .tabs {
    left: 230px;
    top: -62px;
  }
  // ----------------------------------

  .wrapper-tab >.product {
    width: 1084px;
    top: 103px;
  }
  .product > .container {
    width: 1084px;
    min-height: 666px;
    height: 666px;
  }
  .product > .container > .tabs {
    left: 382px;
    top: -62px;
  }
  // ---------------------------------------
  .wrapper-tab >.loveStory {
    // position: absolute;
    // top: 144px;
    // left: 50%;
    // transform: translateX(-51%);
    // width: 1372px;
    // z-index: 4;
    // padding: 0 4rem;

    width: 1089px;
      top: 103px;
      // transform: translateX(0);}
  }
  .loveStory > .container {
    width: 1089px;
    min-height: 666px;
    height: 666px;
    // @include colored-bg;
    // border-radius: 35px;
    // position: relative;
    background: none;
    background: white;
    border-left: 1px solid #235f83;
    border-right: 1px solid #235f83;
  }
  .loveStory > .container > .tabs {
    left: 560px;
    top: -62px;
  }
  .loveStory > .container > .tabs > .tabs-text {
    min-width: 125px;
  }

  // ---------------------------------------
  .wrapper-tab >.sacraments {
    width: 1094px;
      top: 103px;
  }
  .sacraments > .container {
    width: 1094px;
    min-height: 666px;
    height: 666px;
    background: none;
    background: white;
    border-left: 1px solid #235f83;
    border-right: 1px solid #235f83;
  }
  .sacraments > .container > .tabs {
    left: 735px;
    top: -62px;
  }
  .sacraments .portfolio-subtitle {
    margin-bottom: 70px;
  }
  // -----------------------------------

  .wrapper-tab >.portrait {
    width: 1100px;
      top: 103px;
   
  }
  .portrait > .container {
    width: 1100px;
    min-height: 666px;
    height: 666px;
    background: none;
    background: white;
    border-left: 1px solid #235f83;
    border-right: 1px solid #235f83;
  }
  .portrait > .container > .tabs {
    left: 892px;
    top: -62px;
  }
 
}

// .container:has(.active-tab) {
//   background: none;
//   @include colored-bg;
//   border-right: 1px solid #235f83;
// }
// ---------------------------------

.item {
  overflow: hidden;
  position: relative;
}

.item:hover .frame {
  top: 0;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  transition-delay: 0.2s;
  // opacity: 0.6;
}
.item:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
// .vertical {
//   grid-column: span 2;
//   @media (min-width: $desktop-width) {
//     grid-column: span 1;
//     grid-row: span 2;
//   }
// }

// .horizontal {
//   @media (min-width: $desktop-width) {
//     grid-column: span 2;
//   }
// }
// .big {
//   grid-column: span 2;
//   grid-row: span 2;
//   @media (min-width: $desktop-width) {
//     grid-column: span 3;
//     grid-row: span 1;
//   }
// }

.square {
  @media (min-width: $tablet-width) {
    grid-column: span 4;
  }
}

.baguetteBox-open {
  overflow-y: hidden;
}

.reversed {
  // flex-direction: row-reverse;
}

.big {
  grid-row: span 1;

  @media (min-width: $tablet-width) {
    grid-row: span 3;
  }
}
.horizontal {
  grid-column: span 2;
}
.vertical {
  grid-row: span 1;
  @media (min-width: $tablet-width) {
    grid-row: span 2;
  }
}

// #baguetteBox-slider img {
//   max-width: 1400px !important;
//   max-height: 1400px !important;
// }

.test {
  padding: 300px 50px;
}
.active-tab > .tabs-text {
  @include colored-bg;
  background-color: #235f83;
  color: #235f83;
  outline: 1px solid #235f83;
  outline-offset: -1px;
  box-shadow: -1px 4px 1px 4px #235f83;
}
.container:has(.active-tab) {
  background: none;
  @include colored-bg;
  border-right: 1px solid #235f83;
}

.content > .container > .active-tab > .tabs-text {
  box-shadow: none;
}
