$desktop-width: 1440px;
$phone-width: 375px;
$tablet-width: 768px;
// $desktop-max-width: 1920px;

$accent-color: #f3bb4a;
$main-color: #111111;
$hover-color: #004391;

// $orange-color: #c34627;
$light-color: #f3f3f3;
$alert-color: #f7434b;
$success-color: #01a045;
$secondary-text-color: #3c3b3b;

$regular-text: 400;
$medium-text: 500;
$bold-text: 700;

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
