// ---Media-queries---

$desktop-width: 1200px;
$phone-width: 375px;
$tablet-width: 768px;
$mobile-and-table-only: 767px;
$desktop-max-width: 1440px;

// ---Colors---

$main-color: #000000;
$bg-color: #efefef;
$accent-color: #0065fd;
$light-text-color: #ffffff;
$secondary-color: #2b68c7;
$extra: #1a3f78;

// ---Fonts---
$main-font: 'Kharkiv', sans-serif;
// $secondary-font: 'Cormorant', serif;

// ---Transition---

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
