// ---Media-queries---

$desktop-width: 1024px;
$phone-width: 375px;
$tablet-width: 768px;
// $desktop-max-width: 1920px;

// ---Colors---

$main-color: #000000;
$bg-color: #efefef;
$accent-color: #0065fd;
// $hover-color: #004391;

// $orange-color: #c34627;
// $light-color: #f3f3f3;
// $alert-color: #0065FD;
// $success-color: #01a045;
// $secondary-text-color: #3c3b3b;

// ---Fonts---
$main-font: 'Kharkiv', sans-serif;
// $secondary-font: 'Cormorant', serif;

// ---Transition---

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
