<section class="about">
  <div class="about-container container">
    <div class="about__image">
      <img src="./images/oleksa.png" alt="фотограф Олекса Семенов" />
    </div>
    <div class="about__content">
      <div class="about-recipe">
        <p class="about__pre-text">
          <span>Мене звати Олекса,</span> <span>я Ваш фотограф</span
          ><span>і я знаю</span>
        </p>
        <ul class="about__text">
          <li class="about__text-item">
            <span class="about__text-header">рецепт </span
            ><span>найкращих світлин</span>
          </li>
          <li>
            <span class="about__text-header">=</span>
          </li>
          <li>
            <span class="about__text-header">1%</span
            ><span>технічних моментів</span>
          </li>
          <li>
            <span class="about__text-header">+</span>
          </li>
          <li>
            <span class="about__text-header">99%</span><span>ваших емоцій</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
