<section class="about">
  <div class="about-container container">
    <div class="photo-animation"></div>
    <div class="about__image">
      <img src="./images/oleksa.png" alt="фотограф Олекса Семенов" />
    </div>
    <p class="about__pre-text">
      <span>Мене звати Олекса,</span>
      <span>я Ваш фотограф </span>
      <span> і я знаю, що:</span>
    </p>
    <div class="about__text">
      <div class="about__text-item">
        <span class="about__text-header">рецепт </span
        ><span>найкращих світлин</span>
      </div>
      <span>це</span>
      <div>
        <span class="about__text-header">1%</span
        ><span>технічних моментів</span>
      </div>
      <span>та</span>
      <div>
        <span class="about__text-header">99%</span><span>ваших емоцій</span>
      </div>
    </div>
  </div>
</section>
