<section class="about">
  <div class="container about-container">
    <h3>Про мене</h3>
    <h2>Фотограф Олекса Семенов</h2>
    <div class="about-photo__container">
      <img class="about-photo" src="./images/about-photo.jpg" alt="about me" />
    </div>
    <div class="about-wrapper">
      <p>
        Привіт, мене звати Олекса Семенов. <br />
        Я професійний фотограф і я вмію прокласти тонкий але вірний шлях
        комунікації між собою та вашим бажанням побачити себе зі сторони в
        найкращих світлинах. Їх вірний рецепт: 1% технічної складової - 99%
        ваших емоцій. <br />
        Давайте зробимо їх разом!
      </p>
    </div>
  </div>
</section>
