<section class="advantages">
  <div class="container advantages-container">
    <!-- <div class="about-photo__container">
      <img class="about-photo" src="./images/about-photo.jpg" alt="about me" />
    </div> -->
    <div class="advantages-wrapper">
      <h3>Чому варто обирати мене</h3>
      <h2>Переваги</h2>
      <ul class="advantages__list">
        <li class="item">
          <i class="fa-solid fa-plane"></i>
          <p class="item-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet
            tempore facere laborum perspiciatis voluptate, dolore debitis,
            molestiae architecto sit magni totam doloremque ducimus fugiat
            sapiente quidem eius, iusto consequatur adipisci?
          </p>
        </li>
        <li class="item">
          <i class="fa-solid fa-camera"></i>
          <p class="item-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet
            tempore facere laborum perspiciatis voluptate, dolore debitis,
            molestiae architecto sit magni totam doloremque ducimus fugiat
            sapiente quidem eius, iusto consequatur adipisci?
          </p>
        </li>
        <li class="item">
          <i class="fa-solid fa-circle-up"></i>
          <p class="item-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet
            tempore facere laborum perspiciatis voluptate, dolore debitis,
            molestiae architecto sit magni totam doloremque ducimus fugiat
            sapiente quidem eius, iusto consequatur adipisci?
          </p>
        </li>
        <li class="item">
          <i class="fa-solid fa-plane"></i>
          <p class="item-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet
            tempore facere laborum perspiciatis voluptate, dolore debitis,
            molestiae architecto sit magni totam doloremque ducimus fugiat
            sapiente quidem eius, iusto consequatur adipisci?
          </p>
        </li>
        <li class="item">
          <i class="fa-solid fa-camera"></i>
          <p class="item-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet
            tempore facere laborum perspiciatis voluptate, dolore debitis,
            molestiae architecto sit magni totam doloremque ducimus fugiat
            sapiente quidem eius, iusto consequatur adipisci?
          </p>
        </li>
        <li class="item">
          <i class="fa-solid fa-circle-up"></i>
          <p class="item-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet
            tempore facere laborum perspiciatis voluptate, dolore debitis,
            molestiae architecto sit magni totam doloremque ducimus fugiat
            sapiente quidem eius, iusto consequatur adipisci?
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
