<section class="benefits" id="benefits">
  <div class="section-container container">
    <div class="benefits-animation"></div>
    <div class="benefits-container">
      <div class="benefits__image">
        <img src="./images/oleksa.png" alt="фотограф Олекса Семенов" />
      </div>
      <div class="benefits-text">
        <h2 class="benefits-header">Чому варто замовити зйомку у мене?</h2>
        <h3 class="benefits-subheader">Співпраця зі мною це:</h3>
        <ul class="benefits__list"></ul>
      </div>
    </div>
  </div>
</section>
