<section class="benefits section-container container" id="benefits">
  <div class=" benefits-container">
    <h2 class="benefits__header">співпраця зі мною це:</h2>

    <ul class="benefits__list">
      <li class="benefits__list-item">
        <h3>Якість</h3>
        <p>
          Відзнятий матеріал проходить декілька етапів обробки: відбір,
          корекція, кадрування, ретуш.
        </p>
      </li>
      <li class="benefits__list-item">
        <h3>оптимальна ціна</h3>
        <p>
          Фіксована ціна за 1 годину роботи незалежно від типу зйомки. Ніяких
          міфічних послуг за додаткову плату: на бензин, за ще одну дитину на
          зйомці, тощо.
        </p>
      </li>
      <li class="benefits__list-item">
        <h3>супровід</h3>
        <p>
          Створюю для вас образ на основі ваших побажань. Допомогаю з підбором
          одягу та аксесуарів для нього. Підкажу куди стати та де подіти ваші
          руки під час зйомки :)
        </p>
      </li>
    </ul>
  </div>
    <div class="recipe">
      <img src="./images/photographer.jpg" alt="фотограф Олекса Семенов">

    <ul class="recipe-text">
      <li class="light-text"><span class="recipe-text__header">рецепт</span><span>найкращих світлин це</span></li>
      <li><span class="recipe-text__header">1%</span><span>технічних моментів</span></li>
      <li><span class="recipe-text__header">99%</span><span>ваших емоцій</span></li>
    </ul>
</div>

</section>
