<div class="container section-container">
  <div class="title-container">
    <!-- <h2 class="footer__title">
      <span class="title__first-word">Олекса</span>
      <span class="title__second-word">Семенов</span>
    </h2> -->
  </div>
  <div class="contact-info">
    <address>
      <a class="tel" href="tel:+380976328712">097 632-87-12</a>
      <a class="email" href="mailto:alexvizual@gmail.com"
        >alexvizual@gmail.com</a
      >
    </address>
    <div class="contact-info__social">
      <a
        href="https://t.me/Teodrin"
        aria-label="Посилання для відкриття чату з фотографом у Telegram"
      >
        <svg
          width="48"
          height="48"
          class="social-icon social-icon__footer"
          aria-hidden="true"
        >
          <use
            href="./images/svg/social.svg#icon-telegram"
            aria-hidden="true"
          ></use>
        </svg>
      </a>
      <a
        href="https://instagram.com/oleksa.can"
        aria-label="Посилання для відкриття профілю Instagram фотографа"
      >
        <svg
          width="32"
          height="32"
          class="social-icon social-icon__footer"
          aria-hidden="true"
        >
          <use
            href="./images/svg/social.svg#icon-instagram"
            aria-hidden="true"
          ></use>
        </svg>
      </a>
    </div>
  </div>
</div>
