<section class="form" id="form-section">
  <div class="container">
    <h2 class="price-header form__header">Залишайте свою заявку</h2>

    <div class="form__description">
      <p>
        Бажаєте отримати розрахунок вартості під ваш запит? Або маєте інші
        питання?
      </p>
      <p>Заповніть форму нижче, та я сконтактую з Вами якнайшвидше</p>
    </div>
    <form id="contact-us">
      <input type="text" name="name" id="name" placeholder="Ім'я" required />

      <input
        type="phone"
        name="phone"
        id="phone"
        placeholder="Номер телефону або логін Telegram"
        required
      />

      <textarea
        placeholder="Ваше питання або запит..."
        id="message"
        name="message"
        rows="5"
      ></textarea>

      <input
        type="submit"
        class="submit-form__btn button button-order"
        value="Відправити заявку"
      />
    </form>
  </div>
</section>
