<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <button class="mobile-menu__button">
        <a class="nav-menu__link" href="">Меню</a>
      </button>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-item__link active" href="">Головна</a>
        </li>
        <li class="nav-item">
          <a class="nav-item__link" href="#benefits">Переваги</a>
        </li>
        <li class="nav-item">
          <a class="nav-item__link" href="">Портфоліо</a>
        </li>
        <li class="nav-item"><a class="nav-item__link" href="">Вартість</a></li>
        <li class="nav-item"><a class="nav-item__link" href="">Контакти</a></li>
      </ul>
    </nav>

    <!-- <div class="phone-header"> -->
    <!-- <a class="nav__phone" href="tel:+380976328712">
      <svg width="32" height="32" class="social-icon social-icon__header">
        <use href="./images/svg/social.svg#icon-phone"></use>
      </svg>
    </a> -->
    <!-- </div> -->
    <div class="contact-info__social">
      <a class="social-link" href="https://t.me/Teodrin">
        <svg width="48" height="48" class="social-icon social-icon__header">
          <use href="./images/svg/social.svg#icon-telegram"></use>
        </svg>
      </a>
      <a class="social-link" href="https://instagram.com/oleksa.can">
        <svg width="32" height="32" class="social-icon social-icon__header">
          <use href="./images/svg/social.svg#icon-instagram"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
