<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <button class="mobile-menu__button">
        <a class="nav-menu__link" href="">Меню</a>
      </button>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-item__link active" href="">Головна</a>
        </li>
        <li class="nav-item">
          <a class="nav-item__link" href="">Переваги</a>
        </li>
        <li class="nav-item"><a class="nav-item__link" href="">Портфоліо</a></li>
        <li class="nav-item"><a class="nav-item__link" href="">Вартість</a></li>
        <li class="nav-item"><a class="nav-item__link" href="">Контакти</a></li>
      </ul>
    </nav>

    <div class="phone-header">
    <a class="nav__phone" href="tel:+380976328712">(097) 632-87-12</a></div>
  </div>
</header>
