<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="">Logo</a>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-item__link" href="">Головна</a></li>
        <li class="nav-item">
          <a class="nav-item__link" href="">Послуги та ціни</a>
        </li>
        <li class="nav-item">
          <a class="nav-item__link" href="">Портфоліо</a>
        </li>
        <li class="nav-item"><a class="nav-item__link" href="">Інфо</a></li>
        <li class="nav-item"><a class="nav-item__link" href="">Контакти</a></li>
      </ul>
    </nav>
  </div>
</header>
