<header class="header">
  <div class="container header-container">
    <nav aria-label="Навігація по сайту" class="nav">
      <!-- Mobile menu -->
      <button
        type="button"
        class="mobile-menu__button"
        aria-label="Кнопка відкриття мобільного меню"
        aria-expanded="false"
        aria-controls="menu"
        aria-haspopup="true"
      >
        <span id="hamburger"></span>
      </button>

      <ul class="nav-list" id="menu" role="menu">
        <li class="nav-item">
          <a class="nav-item__link active" href="">Головна</a>
        </li>
        <li class="nav-item">
          <a class="nav-item__link" href="#benefits">Переваги</a>
        </li>
        <li class="nav-item">
          <a class="nav-item__link" href="#services">Послуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-item__link" href="./portfolio.html">Портфоліо</a>
        </li>
        <li class="nav-item">
          <a class="nav-item__link" href="#price">Вартість</a>
        </li>
      </ul>
    </nav>

    <div class="contact-info__social">
      <a
        class="nav__phone"
        href="tel:+380976328712"
        target="_blank"
        aria-label="Посилання з номером телефону фотографа"
      >
        <svg width="32" height="32" class="social-icon social-icon__header">
          <use href="./images/svg/social.svg#icon-phone"></use>
        </svg>
      </a>
      <a
        class="social-link"
        href="https://t.me/Teodrin"
        target="_blank"
        aria-label="Посилання для відкриття чату з фотографом у Telegram"
      >
        <svg
          width="32"
          height="32"
          class="social-icon social-icon__header"
          aria-hidden="true"
        >
          <use href="./images/svg/social.svg#icon-telegram"></use>
        </svg>
      </a>
      <a
        class="social-link"
        href="https://instagram.com/oleksa.can"
        target="_blank"
        aria-label="Посилання для відкриття профілю Instagram фотографа"
      >
        <svg
          width="32"
          height="32"
          class="social-icon social-icon__header"
          aria-hidden="true"
        >
          <use href="./images/svg/social.svg#icon-instagram"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
