<section class="hero">
  <div class="container hero-container">
    <div class="title-container">
      <h1 class="hero__title">Фотограф у Києві</h1>
      <h2 class="hero__subtitle">Олекса Семенов</h2>
      <p class="hero__text">
        Закарбовую емоції та ваші особливі моменти назавжди
      </p>
      <button
        class="button button-hero"
        data-modal-open=""
        aria-label="Замовити зйомку"
        type="button"
      >
        Замовити зйомку
      </button>
    </div>
  </div>
</section>
