<section class="hero hero-section">
  <div class="container hero-container">
    <h2 class="hero__subtitle">фотограф з Києва</h2>
    <div class="title-container">
      <h1 class="hero__title">
        <span class="title__first-word">Олекса</span>
        <span class="title__second-word">Семенов</span>
      </h1>
    </div>
    <p class="hero__text">Закарбовую емоції <br />та особливі моменти</p>
    <a href="#form-section" class="button button-order"> Замовити зйомку </a>
  </div>
</section>
