<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <button type="button" class="close">&times;</button>
    <div class="container form">
      <h2 class="price-header form__header">Залишайте свою заявку</h2>

      <div class="form__description">
        <p>
          Бажаєте отримати розрахунок вартості під ваш запит? Або маєте інші
          питання?
        </p>
        <p>Заповніть форму нижче, та я сконтактую з Вами якнайшвидше</p>
      </div>
      <form action="" id="contact-us" method="post">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Ім'я"
          aria-label="Введіть Ваше ім'я"
          required
        />

        <input
          type="tel"
          name="phone"
          id="phone"
          placeholder="Номер телефону"
          aria-label="Введіть номер телефону"
          required
        />

        <textarea
          placeholder="Ваше питання або запит..."
          id="message"
          name="message"
          rows="5"
          aria-label="Напишіть Ваше питання або запит"
        ></textarea>

        <input
          type="submit"
          class="submit-form__btn button"
          value="Відправити"
          aria-label="Відправити форму зворотнього зв'язку"
        />
      </form>
    </div>
  </div>
</div>
