<div class="main">
  <section class="">
    <!-- <h2>The Title</h2> -->

    <div class="container">
      <h1>Портфоліо</h1>
      <p>Пропоную різні типи зйомок під ваш запит.</p>
      <ul>
        <li><a href="">бізне</a></li>
        <li><a href="">други</a></li>
        <li><a href="">треті</a></li>
        <li><a href="">четве</a></li>
        <li><a href="">пятий</a></li>
      </ul>

      <div class="section">
        <div class="descr">
          <h2>Бізнес-зйомка</h2>
          <p>
            Створіть неповторний образ вашого бізнесу за допомогою професійної
            бізнес-зйомки! Від корпоративних портретів до виробничих процесів -
            я розкажу вашу історію за допомогою візуальної мови, яка привертає
            увагу та залишає незабутнє враження. Оберіть бізнес-зйомку, щоб
            підкреслити унікальність вашого бренду та показати вашу команду в
            найкращому світлі. Ви отримаєте не тільки професійні зображення, але
            й можливість підкреслити корпоративну культуру, цінності та
            інноваційний підхід до бізнесу. Незалежно від того, чи ви обираєте
            стиль корпоративних портретів або запальних кадрів робочого
            колективу, ми спільно створимо вражаючий образ вашого бренду.
            Дозвольте вашому бізнесу виблиснути завдяки професійній
            бізнес-зйомці, яка зробить його видимим та привабливим для вашої
            аудиторії.
          </p>
        </div>
        <div class="info1 gallery">
          <a
            href="./images/jpg/wedding.jpg"
            data-at-450="./images/jpg/wedding.jpg"
            data-at-800="./images/jpg/wedding.jpg"
            data-at-1366="./images/jpg/wedding.jpg"
            data-at-1920="./images/jpg/wedding.jpg"
            data-caption="Image caption"
            class="figure1 item vertical"
          >
            <img
              class="figure-img"
              src="./images/jpg/content.jpg"
              alt="a kitten"
            />
          </a>
          <a
            href="./images/jpg/wedding.jpg"
            data-caption="Image caption"
            class="figure2 item horizontal"
          >
            <img
              class="figure-img"
              src="./images/jpg/content.jpg"
              alt="a kitten"
            />
          </a>
          <a
            href="./images/jpg/wedding.jpg"
            data-caption="Image caption"
            class="figure3 item vertical"
          >
            <img
              class="figure-img"
              src="./images/jpg/wedding.jpg"
              alt="a kitten"
            />
          </a>
          <a
            href="./images/jpg/wedding.jpg"
            data-caption="Image caption"
            class="figure4 item big"
          >
            <img
              class="figure-img"
              src="./images/jpg/love-story.jpg"
              alt="a kitten"
            />
          </a>
          <a
            href="./images/jpg/wedding.jpg"
            data-caption="Image caption"
            class="figure5 item vertical"
          >
            <img
              class="figure-img"
              src="./images/jpg/family.jpg"
              alt="a kitten"
            />
          </a>
          <a
            href="./images/jpg/wedding.jpg"
            class="figure6 item vertical square"
          >
            <img
              class="figure-img"
              src="./images/jpg/content.jpg"
              alt="a kitten"
            />
          </a>
          <div class="figure7 item horizontal">
            <img
              class="figure-img"
              src="./images/jpg/content.jpg"
              alt="a kitten"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
