<div class="main">
  <section class="">
    <!-- <h2>The Title</h2> -->

    <div class="container">
      <div class="info1">
        <div class="figure1 item vertical">
          <img
            class="figure-img"
            src="./images/jpg/content.jpg"
            alt="a kitten"
          />
        </div>
        <div class="figure2 item horizontal">
          <img
            class="figure-img"
            src="./images/jpg/content.jpg"
            alt="a kitten"
          />
        </div>
        <div class="figure3 item vertical">
          <img
            class="figure-img"
            src="./images/jpg/wedding.jpg"
            alt="a kitten"
          />
        </div>
        <div class="figure4 item big">
          <img
            class="figure-img"
            src="./images/jpg/love-story.jpg"
            alt="a kitten"
          />
        </div>
        <div class="figure5 item vertical">
          <img
            class="figure-img"
            src="./images/jpg/family.jpg"
            alt="a kitten"
          />
        </div>
        <div class="figure6 item vertical square">
          <img
            class="figure-img"
            src="./images/jpg/content.jpg"
            alt="a kitten"
          />
        </div>
        <div class="figure7 item horizontal">
          <img
            class="figure-img"
            src="./images/jpg/content.jpg"
            alt="a kitten"
          />
        </div>
      </div>
    </div>
  </section>
</div>
