<section class="price">
  <div class="section-container container">
    <h2 class="price-header">вартість послуг та гарантії</h2>
    <div class="wrapper">
      <p>
        Вартість 1 години зйомки <span class="price-amount">3500 грн *</span>
        <span>* Оренда студії оплачується окремо</span>
      </p>
      <div class="text-wrapper">
        <p>Термін здачі фото - 10 днів з моменту зйомки.</p>
        <p>Якщо не вкладусь в терміни - повертаю 50% вартості послуг.</p>
        <p>
          За потреби надаю дублі усіх фото в ч/б виконанні, а також у форматі
          оптимізованому для соц.мереж.
        </p>
      </div>
    </div>
    <a href="#form-section" class="button button-order"> Залишити заявку </a>
  </div>
</section>
