<section class="services">
  <div class="section-container container">
    <ul class="services__cards">
  <li class="services__card">
    <img src="./images/jpg/wedding.jpg" alt="wedding" />
    <div class="content">
      <h2>Весільна</h2>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
      <a href="#"></a>
    </div>
  </li>
  <li class="services__card">
    <img src="./images/jpg/wedding.jpg" alt="wedding" />
    <div class="content">
      <h2>Сімейна</h2>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
      <a href="#"></a>
    </div>
  </li>
  <li class="services__card">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample2.jpg" alt="sample2" />
    <div class="content">
      <h2>портретна</h2>
      <div >
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
      <a href="#"></a>
    </div>
  </li></ul>
</div>
</section>
