<section class="services">
  <div class="container">
			<div class="article_container">
				<div class="article_container_img">

					<picture>
						<!-- <source media="(min-width: 1200px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg">
						<source media="(min-width: 768px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg">
						<source media="(max-width: 767px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg"> -->
						<img class="portfolio-cards__img" src="./images/man.jpg" alt="">
					</picture>

				</div>
				<div class="article_container_content">
						 <div class="the">
								 <div class="line"></div>
								 <p class="the-decor">для тебе</p>
								 <div class="line"></div>
						 </div>
						 <h4>Індивідуальна зйомка</h4>
						 <div class="divider"></div>
						 <p>
								 Nam fermentum orci felis, non mattis odio consequat sit amet. Proin fermentum mattis urna a posuere. Donec sed lacus ut ante consectet iaculis. Suspendisse ligula tortor, auctor eu magna sed, pretium ornare mi. Praesent ultrices vitae est ac hendrerit. Duis quis mattis dolor. Cras consectetur velit eros, non dictum purus pellentesque a. 
						 </p>
						 <div class="btn">Докладніше</div>
				</div>
		 </div>

		 <div class="article_container">
			<div class="article_container_img">

				<picture>
					<!-- <source media="(min-width: 1200px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg">
					<source media="(min-width: 768px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg">
					<source media="(max-width: 767px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg"> -->
					<img class="portfolio-cards__img" src="./images/man.jpg" alt="">
				</picture>

			</div>
			<div class="article_container_content">
					 <div class="the">
							 <div class="line"></div>
							 <p class="the-decor">для роботи</p>
							 <div class="line"></div>
					 </div>
					 <h4>Комерційна зйомка</h4>
					 <div class="divider"></div>
					 <p>
							 Nam fermentum orci felis, non mattis odio consequat sit amet. Proin fermentum mattis urna a posuere. Donec sed lacus ut ante consectet iaculis. Suspendisse ligula tortor, auctor eu magna sed, pretium ornare mi. Praesent ultrices vitae est ac hendrerit. Duis quis mattis dolor. Cras consectetur velit eros, non dictum purus pellentesque a. 
					 </p>
					 <div class="btn">Докладніше</div>
			</div>
	 </div>
	 <div class="article_container">
		<div class="article_container_img">

			<picture>
				<!-- <source media="(min-width: 1200px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg">
				<source media="(min-width: 768px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg">
				<source media="(max-width: 767px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg"> -->
				<img class="portfolio-cards__img" src="./images/man.jpg" alt="">
			</picture>

		</div>
		<div class="article_container_content">
				 <div class="the">
						 <div class="line"></div>
						 <p class="the-decor">для теплих спогадів</p>
						 <div class="line"></div>
				 </div>
				 <h4>Сімейна зйомка</h4>
				 <div class="divider"></div>
				 <p>
						 Nam fermentum orci felis, non mattis odio consequat sit amet. Proin fermentum mattis urna a posuere. Donec sed lacus ut ante consectet iaculis. Suspendisse ligula tortor, auctor eu magna sed, pretium ornare mi. Praesent ultrices vitae est ac hendrerit. Duis quis mattis dolor. Cras consectetur velit eros, non dictum purus pellentesque a. 
				 </p>
				 <div class="btn">Докладніше</div>
		</div>
 </div>
 <div class="article_container">
	<div class="article_container_img">

		<picture>
			<!-- <source media="(min-width: 1200px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg">
			<source media="(min-width: 768px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg">
			<source media="(max-width: 767px)" srcset="./images/man.jpg 1x, ./images/man.jpg 2x" type="image/jpg"> -->
			<img class="portfolio-cards__img" src="./images/man.jpg" alt="">
		</picture>

	</div>
	<div class="article_container_content">
			 <div class="the">
					 <div class="line"></div>
					 <p class="the-decor">для особливих моментів</p>
					 <div class="line"></div>
			 </div>
			 <h4>Фотозйомка пари</h4>
			 <div class="divider"></div>
			 <p>
					 Nam fermentum orci felis, non mattis odio consequat sit amet. Proin fermentum mattis urna a posuere. Donec sed lacus ut ante consectet iaculis. Suspendisse ligula tortor, auctor eu magna sed, pretium ornare mi. Praesent ultrices vitae est ac hendrerit. Duis quis mattis dolor. Cras consectetur velit eros, non dictum purus pellentesque a. 
			 </p>
			 <div class="btn">Докладніше</div>
	</div>
</div>
</div>


    </div>
  </div>
</section>
