<section class="services">
  <div class="container">
    <h3>Варіанти зйомок</h3>
    <h2>Послуги фотографа</h2>

    <ul class="cards">
      <li class="card card-1">
        <div class="text">
          <h4>Індивідуальна фотосесія</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae,
            excepturi!
          </p>
          <a href="">view trips</a>
        </div>
      </li>
      <li class="card card-2">
        <div class="text">
          <h4>Фотосесія для пари</h4>
          <p>
            Odio ea deserunt est nesciunt repudiandae odit, cupiditate labore
            hic?
          </p>
          <a href="">view trips</a>
        </div>
      </li>
      <li class="card card-3">
        <div class="text">
          <h4>Зйомка весілля</h4>
          <p>Quo inventore sapiente ut explicabo totam quos nihil ipsum et.</p>
          <a href="">view trips</a>
        </div>
      </li>
      <li class="card card-4">
        <div class="text">
          <h4>Комерційна зйомка</h4>
          <p>Accusamus, facere eaque? Sit enim rerum ullam quia id mollitia.</p>
          <a href="">view trips</a>
        </div>
      </li>
    </ul>
  </div>
</section>
