<section class="timeline-sec timeline">
  <div class="wrapper container">
    <div class="timeline-main">
      <div class="timeline-row">
        <div class="timeline-box">
          <h6>2018</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla augue
            justo, rhoncus non ultricies non, sagittis ut nisl. Nullam malesuada
            aliquam leo, eu porttitor ex maximus commodo.
          </p>
        </div>
        <div class="timeline-box">
          <h6>2015</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla augue
            justo, rhoncus non ultricies non, sagittis ut nisl. Nullam malesuada
            aliquam leo, eu porttitor ex maximus commodo.
          </p>
        </div>
        <div class="timeline-box">
          <h6>2010</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla augue
            justo, rhoncus non ultricies non, sagittis ut nisl. Nullam malesuada
            aliquam leo, eu porttitor ex maximus commodo.
          </p>
        </div>
        <div class="horizontal-line"></div>
        <div class="verticle-line"></div>
        <div class="corner top"></div>
        <div class="corner bottom"></div>
      </div>
      <div class="timeline-row">
        <div class="timeline-box">
          <h6>1998</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla augue
            justo, rhoncus non ultricies non, sagittis ut nisl. Nullam malesuada
            aliquam leo, eu porttitor ex maximus commodo.
          </p>
        </div>
        <div class="timeline-box">
          <h6>1992</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla augue
            justo, rhoncus non ultricies non, sagittis ut nisl. Nullam malesuada
            aliquam leo, eu porttitor ex maximus commodo.
          </p>
        </div>
        <div class="timeline-box">
          <h6>1983</h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla augue
            justo, rhoncus non ultricies non, sagittis ut nisl. Nullam malesuada
            aliquam leo, eu porttitor ex maximus commodo.
          </p>
        </div>
        <div class="horizontal-line"></div>
        <div class="verticle-line"></div>
        <div class="corner top"></div>
        <div class="corner bottom"></div>
      </div>
      <div class="timeline-row">
        <div class="timeline-box">
          <h6>Today</h6>
        </div>
      </div>
    </div>
  </div>
</section>
