<section class="timeline">
  <div class="container section-container">
    <h2 class="timeline-header">умови співпраці</h2>

    <!-- <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck1" checked>
        <label class="tab-label" for="chck1"><span>1</span><span>Знайомство</span></label>
        <div class="tab-content">
          Зв'язуємось зручним способом чи зустрічаємось особисто та обговорюємо Ваші побажання щодо зйомки, місця, дати і часу.
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck2">
        <label class="tab-label" for="chck2">2 Підготовка</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
    </div> -->


    <ul class="accordion horizontal">
		  <li class="accordion-item active">
		      <h3>Знайомство</h3>
		      <p>Зв'язуємось зручним способом чи зустрічаємось особисто та обговорюємо ваші побажання щодо зйомки, місця, дати і часу.
          </p>
		  </li>
		  <li class="accordion-item">
		      <h3>Вибір місця</h3>
		      <p>Якщо зйомка буде проходити в студії, я бронюю локацію на обрані дату та час. Якщо це інше місце, за потреби надаю рекомендації як облаштувати простір під тематику зйомки (фон, освітлення, деталі). При необхідності, беру з собою додаткове світло та іншу апаратуру.</p>
		  </li>
		  <li class="accordion-item" >
		      <h3>Підбір образу</h3>
		      <p>Cтворюємо луки для образу фотосесії з існуючого гардеробу у Вашій шафі або з прокату одягу (якщо хочеться чогось особливого чи незвичайного).  Значення має кожна деталь.</p>
		  </li>
		  <li class="accordion-item">
		      <h3>Зйомка</h3>
		      <p>Приходимо завчасно на обрану локацію (краще на 5-10 хвилин раніше, якщо це студія), переодягаємось при необхідності та робимо чудові кадри.
            Я з задоволенням надам інструкції з позування та рухів.</p>
		  </li>
		  <li class="accordion-item">
		      <h3>Обробка</h3>
		      <p>Після закінчення фотосесії я обираю кращі фотографії та обробляю їх за допомогою спеціального програмного забезпечення. Знімки проходять корекцію, обробку та оптимізацію в розмірі. </p>
		  </li>
		  <li class="accordion-item">
		      <h3>Результат</h3>
		      <p>Готові знімки завантажуються на хмарне файлове сховище. Посилання на скачування надсилаю через месенджер чи пошту.</p>
		  </li>
		</ul>
  </div>
</section>
