<section class="timeline">
  <div class="container section-container">
    <h2 class="timeline-header">умови співпраці</h2>

    <div class="tabs">
      <div class="tab">
        <input type="checkbox" id="chck1" checked>
        <label class="tab-label" for="chck1"><span>1</span><span>Знайомство</span></label>
        <div class="tab-content">
          Зв'язуємось зручним способом чи зустрічаємось особисто та обговорюємо Ваші побажання щодо зйомки, місця, дати і часу.
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="chck2">
        <label class="tab-label" for="chck2">2 Підготовка</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div>
    </div>
  </div>
</section>
