.about {
  max-width: $desktop-max-width;
  margin: 0 auto;

  background-image: url('../images/svg/hand-bottom.svg'),
    url('../images/svg/album.svg');
  background-position: 100% 170px, 90% 600px;
  background-size: 300px, 300px;
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    background-image: none;
  }

  & .about-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      background-image: url('../images/svg/album.svg');
      background-repeat: no-repeat;
      background-position: 90% 250px;
      background-size: 450px;
    }
  }

  &__image {
    display: flex;
    flex: 0 0 auto;
    overflow: hidden;
    height: 600px;
    order: 2;

    @media (min-width: $desktop-width) {
      height: 600px;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    @media (min-width: $desktop-width) {
      justify-content: space-between;
    }
  }

  &__pre-text {
    // margin-bottom: 50px;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;

    @media (min-width: $desktop-width) {
      grid-row-start: 1;
      grid-column-start: 2;
    }

    & span {
      @media (min-width: $desktop-width) {
        display: block;
      }
    }
  }

  &__text {
    position: relative;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-basis: 100%;
    justify-content: center;

    @media (min-width: $desktop-width) {
      flex-direction: column;
      font-size: 20px;
      justify-content: space-between;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    &-item > span + span {
      display: inline-block;
      font-size: 15px;

      @media (min-width: $desktop-width) {
        font-size: 20px;
      }
    }

    &-header {
      @include header-text;
      display: block;
      font-size: 34px;
    }
  }
}
