.about {
  // width: 375px;
  // position: relative;
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop-width) {
    flex-direction: row;
    // justify-content: space-between;
  }

  &__image {
    display: block;
    width: 375px;
    margin: 0 auto;
    margin-bottom: 30px;
    & img {
      width: 300px;
      margin: 0 auto;
      @media (min-width: $desktop-width) {
        margin: 0;
      }
    }
  }

  &__text {
    position: relative;
    // bottom: 100px;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    // gap: 40px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      // bottom: 0;
      // justify-content: space-around;
      font-size: 20px;
    }

    // &-item {
    //   color: $light-text-color;
    //   @media (min-width: $desktop-width) {
    //     color: $main-color;
    //   }
    // }
    &-item > span + span {
      // max-width: 185px;
      display: inline-block;
      font-size: 15px;
      @media (min-width: $desktop-width) {
        // max-width: 100%;
        font-size: 20px;
      }
    }

    &-header {
      @include header-text;
      display: block;
    }
  }
}
.order-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .order-title {
    @include header-text;
    font-size: 34px;
    margin-bottom: 20px;
    align-self: center;
    text-align: center;
  }
  .order-text {
    font-size: 16px;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
}
