.benefits {
  position: relative;
  max-width: $desktop-max-width;
  margin: 0 auto;
  background-image: url('../images/svg/hand-ok.svg'),
    url('../images/svg/hand-bottom.svg');
  background-repeat: no-repeat;
  @media (min-width: $tablet-width) {
    background-position: 100% 130px, 100% 600px;
    background-size: 300px, 380px;
  }
  @media (min-width: $desktop-width) {
    background-position: 100% 50px, 100% 400px;
    background-size: 320px, 420px;
  }

  .section-container {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width: $tablet-width) {
      flex-direction: row;
    }
  }

  &-text {
    // flex: 1;
    @media (min-width: $tablet-width) {
      // max-width: 450px;
    }
    @media (min-width: $desktop-width) {
      max-width: 700px;
      //   // flex-basis: 42%;
    }
  }

  &-header {
    @include header-text;
    font-size: 32px;
    @media (min-width: $tablet-width) {
      max-width: 700px;
      margin-bottom: 30px;
    }
  }

  &-subheader {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (min-width: $desktop-width) {
      gap: 50px;
    }

    &-item:first-of-type {
      width: 450px;
    }
    &-item:nth-child(2) {
      width: 600px;
    }

    &-item h3 {
      font-size: 2rem;
      line-height: 22.8px;
      text-transform: uppercase;
      margin-bottom: 34px;
      position: relative;

      display: inline-block;
    }

    &-item h3::after {
      content: '';
      width: 100%;
      height: 6px;
      position: absolute;
      left: 0;
      bottom: -10px;
      background-image: url('../images/svg/underline.svg');
    }
  }

  .falling {
    animation-name: falling;
  }

  .falling2 {
    animation-name: falling2;
  }

  .fallingRight {
    animation-name: fallingRight;
  }

  .benefits-animation {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 710px;
    right: 285px;
  }

  .photocard {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(0);
    pointer-events: none;
  }

  @keyframes falling {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
      transform: translateY(0) rotate(0deg);
    }
    90% {
      opacity: 0.8;
      transform: translateY($dist) rotate(200deg) scale(3);
    }
    100% {
      opacity: 0.2;
      transform: translateY($dist) rotate(210deg) scale(3);
    }
  }

  @keyframes falling2 {
    0% {
      opacity: 0;
      transform: rotate(20deg);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 0.8;
      transform: translateY($dist) rotate(280deg) scale(3);
    }
    100% {
      opacity: 0.2;
      transform: translateY($dist) rotate(290deg) scale(3);
    }
  }

  @keyframes fallingRight {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
      transform: translateY(0) rotate(20deg);
    }
    90% {
      opacity: 0.8;
      transform: translateY($dist) translateX(75px) rotate(-260deg);
    }
    100% {
      opacity: 0.2;
      transform: translateY($dist) translateX(75px) rotate(-270deg);
    }
  }

  @keyframes fallingLeft {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
      transform: translateY(0) rotate(20deg);
    }
    90% {
      opacity: 0.8;
      transform: translateY($dist) translateX(-75px) rotate(240deg);
    }
    100% {
      opacity: 0.2;
      transform: translateY($dist) translateX(-75px) rotate(220deg);
    }
  }
}
