.benefits {
  position: relative;

  .section-container {
    position: relative;
    // padding-top: 40px;
    @media (min-width: $desktop-width) {
      background-image: url('../images/svg/hand-ok.svg'),
        url('../images/svg/hand-bottom.svg');
      background-repeat: no-repeat;
      background-position: 100% 0, 100% 385px;
      background-size: 320px, 420px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-container {
    display: flex;
    gap: 100px;
    flex-direction: column;
    @media (min-width: $desktop-width) {
      flex-direction: row;
      // width: 80vw;
    }
  }

  &__image {
    // flex: 0 0 auto;
    // align-self: flex-start;ç
    // height: 800px;
    // flex-basis: 25%;
    // width: 250px;
    flex-basis: 18%;

    & img {
      // width: 30px;
      margin: 0 auto;
      @media (min-width: $desktop-width) {
        margin: 0;
      }
    }
  }

  &-text {
    @media (min-width: $desktop-width) {
      // max-width: 700px;
      flex-basis: 42%;
    }
  }

  &-header {
    @include header-text;
    font-size: 32px;
    @media (min-width: $tablet-width) {
      // max-width: 700px;
      margin-bottom: 20px;
    }
  }

  &-subheader {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (min-width: $desktop-width) {
      gap: 50px;
      // width: 56%;
    }

    &-item h3 {
      font-size: 2rem;
      line-height: 22.8px;
      text-transform: uppercase;
      margin-bottom: 34px;
      position: relative;

      display: inline-block;
    }

    &-item h3::after {
      content: '';
      width: 100%;
      height: 6px;
      position: absolute;
      left: 0;
      bottom: -10px;
      background-image: url('../images/svg/underline.svg');
    }
  }

  @keyframes falling {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
      transform: translateY(0) rotate(0deg);
    }
    90% {
      opacity: 0.8;
      transform: translateY($dist) rotate(200deg) scale(3);
    }
    100% {
      opacity: 0.2;
      transform: translateY($dist) rotate(210deg) scale(3);
    }
  }

  @keyframes falling2 {
    0% {
      opacity: 0;
      transform: rotate(20deg);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 0.8;
      transform: translateY($dist) rotate(280deg) scale(3);
    }
    100% {
      opacity: 0.2;
      transform: translateY($dist) rotate(290deg) scale(3);
    }
  }

  @keyframes fallingRight {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
      transform: translateY(0) rotate(20deg);
    }
    90% {
      opacity: 0.8;
      transform: translateY($dist) translateX(75px) rotate(-260deg);
    }
    100% {
      opacity: 0.2;
      transform: translateY($dist) translateX(75px) rotate(-270deg);
    }
  }

  @keyframes fallingLeft {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
      transform: translateY(0) rotate(20deg);
    }
    90% {
      opacity: 0.8;
      transform: translateY($dist) translateX(-75px) rotate(240deg);
    }
    100% {
      opacity: 0.2;
      transform: translateY($dist) translateX(-75px) rotate(220deg);
    }
  }
}
