.header {
  height: 63px;
  @media (min-width: $desktop-width) {
    height: 70px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    @media (min-width: $desktop-width) {
      padding-left: 4rem;
    }

    .nav__phone {
      color: $accent-color;
    }
    & .nav {
      .mobile-menu__button {
        background-color: transparent;
        border: none;
      }
    }

    .mobile-menu__button {
      font-size: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      @media (min-width: $desktop-width) {
        display: none;
      }
    }

    #menu {
      display: flex;
      gap: 50px;
      @media (max-width: 1199px) {
        position: absolute;
        width: 100%;
        padding: 63px;
        top: 63px;
        left: -100%;
        height: calc(100vh - 63px);
        z-index: 999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: $bg-color;
        transition: left 0.5s $transition-timing-function;
        overflow-y: auto;
        // display: block;
        // visibility: hidden;
      }
    }

    .nav.active #menu {
      display: flex;
      left: 0;
      // visibility: visible;
    }

    .nav-item {
      display: inline-flex;
    }

    .nav-item__link {
      position: relative;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }

    /* New pseudo-element for the transition */
    .nav-item__link::before {
      content: '';
      width: 160px;
      height: 51px;
      position: absolute;
      left: 50%;
      top: 50%;
      background-image: url('../images/svg/chosen.svg');
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
      opacity: 0; /* Hidden by default */
      transition: opacity $transition-duration $transition-timing-function; /* Add the transition */
    }

    .nav-item__link.active::before,
    .nav-item__link:hover::before,
    .nav-item__link:focus::before  {
      opacity: 1; /* Show the element on hover or when active */
    }
  }

  .phone-header {
    align-self: center;
  }
  #hamburger {
    color: $main-color;
    border-top: 1px solid;
    width: 28px;
    display: block;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    height: 1px;
    width: 28px;
    background-color: $accent-color;
    margin-top: 8px;
    transition: 0.3s;
    position: relative;
  }

  .nav.active #hamburger {
    border-top-color: transparent;
  }

  .nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
