.header {
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 66px;
  .nav {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    &-list {
      display: flex;
      gap: 3vw;
    }
    &-item {
      border-bottom: 2px solid transparent;
      transition: color 0.5s $transition-timing-function;
    }
    &-item:hover {
      color: $accent-color;
      border-bottom: 2px solid $accent-color;
    }
    &-item__link {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
