.hero-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero {
  max-width: $desktop-max-width;
  margin: 0 auto;
  @include flex;
  align-items: flex-end;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../images/hero2.jpeg),
    lightgray -421.946px 0px / 234.371% 100% no-repeat;
  background-position: top right;
  background-size: cover;

  @media (min-width: $desktop-width) {
    background-position: center;
    max-width: 1920px;
  }

  .hero-container {
    @include flex;
    flex-direction: column;
    width: $desktop-max-width;
    padding: 0 15px;

    @media (min-width: $desktop-width) {
      padding: 0 40px;
      align-self: center;
      gap: 0;
    }
  }

  &__title {
    @include flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 5.6rem;
    line-height: 52.92px;
    text-transform: uppercase;
    color: $light-text-color;

    @media (min-width: $tablet-width) {
      font-size: 100px;
      line-height: 80px;
    }

    @media (min-width: $desktop-width) {
      font-size: 150px;
      line-height: 150px;
    }

    & .title__first-word {
      align-self: flex-start;
    }

    & .title__second-word {
      margin-left: auto;
      @media (min-width: $desktop-width) {
        align-self: flex-end;
      }
    }
  }

  &__subtitle {
    text-align: left;
    margin-bottom: 13px;
    font-size: 1.4rem;
    line-height: 21px;
    color: $light-text-color;
    font-style: normal;
    font-weight: 400;
    padding-top: 150px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      font-size: 1.8rem;
      position: relative;
      margin-left: auto;
      top: 22px;
    }
  }

  &__text {
    text-align: right;
    font-size: 1.6rem;
    color: $light-text-color;
    line-height: 19.2px;
    margin-bottom: 150px;
    @media (min-width: $desktop-width) {
      font-size: 18px;
      text-align: left;
      margin-bottom: 100px;
    }
  }
}
