.hero {
  // max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .hero-container {
    display: block;
    width: 100%;
  }
  .title-container {
    margin-left: 0;
    text-align: center;

    @media screen and (min-width: $tablet-width) {
      text-align: left;
    }
  }

  &__title {
    font-size: 30px;
    // color: $light-color;
    // font-family: $secondary-font;
    @media screen and (min-width: $tablet-width) {
      font-size: 36px;
    }
  }
  &__subtitle {
    font-size: 36px;
    // color: $light-color;
    // font-family: $secondary-font;
    @media screen and (min-width: $tablet-width) {
      font-size: 48px;
    }
  }
  &__text {
    margin-top: 10px;
    margin-bottom: 20px;
    // color: $light-color;
  }

  .button-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
}
