.price {
  &-header {
    @include header-text;
    margin-bottom: 60px;
  }

  &-amount {
    display: block;
    font-size: 64px;
    text-transform: uppercase;
    position: relative;
    padding-left: 41px;
    padding-right: 41px;
    margin-top: 10px;
  }

  &-amount::before {
    display: block;
    width: 277px;
    height: 97px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-57%);
    content: '';
    background-size: cover;
    background-image: url(../images/svg/chosen-big.svg);
    background-repeat: no-repeat;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
    align-items: center;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }

    .text-wrapper {
      @media (min-width: $tablet-width) {
        flex-basis: 70%;
      }
    }

    .text-wrapper p:not(last-of-type) {
      margin-bottom: 20px;
    }
  }

  & .button-order {
    margin: 0 auto;
  }
}
