.services {
  & .swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  & .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__card {
    color: #fff;
    position: relative;
    overflow: hidden;
    flex-basis: 100%;
    height: 500px;
    background: #ffffff;
    color: #000000;
    text-align: left;
  }

  &__card * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  &__card img {
    opacity: 1;
    object-fit: cover;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }

  &__card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__card .content > div {
    height: 20%;
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &__card .content-header,
  &__card p {
    margin: 0;
    padding: 0 30px;
    position: absolute;
    width: 100%;
    left: 0;
  }

  &__card .content-header {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    top: 80%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
  }

  & .content-header::after {
    content: url('../images/svg/arrow-right.svg');
    position: absolute;
    top: 0;
    right: 30px;
    width: 62px;
    height: 19px;
  }

  &__card p {
    opacity: 0;
    font-size: 0.8em;
    font-weight: 500;
    -webkit-transform: translate3d(0%, -150%, 0);
    transform: translate3d(0%, -150%, 0);
  }

  &__card a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }

  &__card:hover img,
  &__card:focus img,
  &__card.hover img {
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  &__card:hover .content h2,
  &__card:focus .content h2,
  &__card.hover .content h2 {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0.9;
    color: #000000;
  }

  &__card:hover .content p,
  &__card:focus .content p,
  &__card.hover .content p {
    opacity: 0.7;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    visibility: hidden;
    @media (min-width: $tablet-width) {
      visibility: visible;
    }
  }

  .center-button {
    display: block;
    margin: 0 auto;
  }
}
