.timeline {
  @include colored-bg;
  &-header {
    @include header-text;
  }

  &-subheader {
    margin-bottom: 60px;
  }
  /*Define Accordion box*/
  .accordion {
    @media (min-width: $tablet-width) {
      @include flex;
      height: 360px;
      justify-content: space-between;
      gap: 8px;
    }
    @media (min-width: $desktop-width) {
      height: 300px;
    }

    & .accordion-item {
      @include flex;
      align-items: center;
      overflow: hidden;
      color: $main-color;
      cursor: pointer;
      background: $secondary-color;
      margin-top: 10px;
      padding-left: 15px;
      border: 1px solid $secondary-color;
      width: 100%;
      transition-property: height, color, background-color;
      transition-duration: 0.5s;
      transition-timing-function: $transition-timing-function;

      @media (max-width: $mobile-and-table-only) {
        height: 78px;
        transition: height 0.5s ease;
      }

      @media (min-width: $tablet-width) {
        flex-direction: column;
        padding-top: 10px;
        padding-left: 0;
        margin-top: 0;
        width: 68px;
        transition-property: width, color, background-color;
      }
    }

    & .accordion-item:hover,
    & .accordion-item:focus {
      background: $secondary-color;
    }

    & .accordion-item p {
      display: none;
      padding-top: 20px;
      overflow: hidden;
      max-width: 250px;

      @media (max-width: $mobile-and-table-only) {
        margin-right: auto;
        height: fit-content;
      }

      @media (min-width: $tablet-width) {
        max-width: 100%;
      }
    }

    & .accordion-item::before {
      position: relative;
      font-size: 40px;
      color: $light-text-color;
      font-weight: bold;
      transition: color $transition-duration $transition-timing-function;
    }

    & .accordion-item:nth-child(1)::before {
      content: '1';
    }
    & .accordion-item:nth-child(2)::before {
      content: '2';
    }
    & .accordion-item:nth-child(3)::before {
      content: '3';
    }
    & .accordion-item:nth-child(4)::before {
      content: '4';
    }
    & .accordion-item:nth-child(5)::before {
      content: '5';
    }

    & .accordion-item:nth-child(6)::before {
      content: '6';
      font-size: 40px;
    }

    & .accordion-item.active {
      background: $light-text-color;
      cursor: default;
      padding: 20px;
      flex-direction: column;
      @media (max-width: $mobile-and-table-only) {
        height: 450px;
      }
    }

    & .accordion-item.active:last-of-type,
    & .accordion-item.active:first-of-type {
      @media (max-width: $mobile-and-table-only) {
        height: 330px;
      }
    }

    & .accordion-item.active::before {
      color: $main-color;
    }

    & .accordion-item.active:hover,
    & .accordion-item.active:focus {
      background: $light-text-color;
    }

    & .accordion-item.active h3 {
      width: 100%;
      color: #333;
      padding: 0;
      font-weight: 800;
    }

    & .accordion-item.active p {
      display: block;
    }

    & .accordion-item h3 {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 15px;
      display: block;
      font-size: 24px;
      font-weight: normal;
      color: $light-text-color;

      @media (min-width: $tablet-width) {
        width: 230px;
        margin-left: 0;
        transform: rotate(90deg) translateX(33%);
      }
    }

    /*On mouse over open slide*/
    & .active {
      position: relative;
      width: 100%;

      @media (min-width: $tablet-width) {
        width: 73%;
      }
    }
    & .active h3 {
      top: 0px;
      left: 0;
      font-weight: 800;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    & .active:not(:last-of-type):after {
      content: url(../images/svg/circle-arrow.svg);
      width: 204px;
      height: 28px;
      position: absolute;
      // top: 30px;
      bottom: 30px;
      right: 22px;
      @media (max-width: $mobile-and-table-only) {
        transform: rotate(90deg);
        right: -60px;
        top: 50%;
      }
    }
  }
}
