.timeline {
  &-header {
    @include header-text;
    // margin-bottom: 60px;
  }

  &-subheader {
    margin-bottom: 60px;
  }

  // /* Accordion styles */
  // .tabs {
  //   // border-radius: 8px;
  //   overflow: hidden;
  //   // box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  // }
  // .tab {
  //   width: 100%;
  //   // color: rgb(121, 19, 19);
  //   overflow: hidden;

  //   input {
  //     position: absolute;
  //     opacity: 0;
  //     z-index: -1;
  //   }
  //   &-label {
  //     display: flex;
  //     justify-content: space-between;
  //     padding: 1em;
  //     // background: black;
  //     // font-weight: bold;
  //     cursor: pointer;
  //     /* Icon */
  //     &:hover {
  //       // background: darken(black, 10%);
  //     }
  //     &::before {
  //       content: url('../images/svg/plus.svg');
  //       width: 40px;
  //       height: 40px;
  //       text-align: center;
  //       transition: all 0.35s;
  //     }
  //   }
  //   &-content {
  //     max-height: 0;
  //     // padding: 0 1em;
  //     color: black;
  //     background: white;
  //     transition: all $transition-duration;
  //   }
  //   &-close {
  //     display: flex;
  //     justify-content: flex-end;
  //     padding: 1em;
  //     font-size: 0.75em;
  //     // background: black;
  //     cursor: pointer;
  //     &:hover {
  //       // background: darken(black, 10%);
  //     }
  //   }
  // }

  // // :checked
  // input:checked {
  //   + .tab-label {
  //     // background: darken(black, 10%);
  //     &::before {
  //       transform: rotate(180deg);
  //       content: url('../images/svg/minus.svg');
  //     }
  //   }
  //   ~ .tab-content {
  //     max-height: 100vh;
  //     padding: 1em;
  //   }
  // }

  /*Define Accordion box*/
  .accordion {
    // overflow: hidden;
    @media (min-width: $tablet-width) {
      display: flex;
      height: 300px;
      justify-content: space-between;
    }

    & .accordion-item {
      // position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      color: $main-color;
      cursor: pointer;
      background: $accent-color;
      margin-top: 10px;
      padding-left: 15px;
      border: 1px solid $accent-color;
      width: 100%;
      transition-property: height, color, background-color;
      transition-duration: 0.5s;
      transition-timing-function: $transition-timing-function;

      @media (max-width: $mobile-and-table-only) {
        height: 78px;
        transition: height 0.5s ease;
      }

      @media (min-width: $tablet-width) {
        flex-direction: column;
        padding-top: 10px;
        padding-left: 0;
        margin-top: 0;
        width: 5%;
        transition-property: width, color, background-color;
      }
    }

    & .accordion-item:hover {
      background: $secondary-color;
    }

    & .accordion-item p {
      display: none;
      padding-top: 20px;
      overflow: hidden;

      @media (max-width: $mobile-and-table-only) {
        width: 80%;
        margin-right: auto;
        height: fit-content;
      }
    }

    & .accordion-item::before {
      position: relative;
      font-size: 40px;
      color: $light-text-color;
      font-weight: bold;
      transition: color $transition-duration $transition-timing-function;
    }

    & .accordion-item:nth-child(1)::before {
      content: '1';
    }
    & .accordion-item:nth-child(2)::before {
      content: '2';
    }
    & .accordion-item:nth-child(3)::before {
      content: '3';
    }
    & .accordion-item:nth-child(4)::before {
      content: '4';
    }
    & .accordion-item:nth-child(5)::before {
      content: '5';
    }

    & .accordion-item:nth-child(6)::before {
      content: '6';
      font-size: 40px;
    }

    & .accordion-item.active {
      background: $light-text-color;
      cursor: default;
      padding: 20px;
      flex-direction: column;
      @media (max-width: $mobile-and-table-only) {
        height: 500px;
      }
    }

    & .accordion-item.active::before {
      color: $main-color;
    }

    & .accordion-item.active:hover {
      background: $light-text-color;
    }

    & .accordion-item.active h3 {
      width: 100%;
      color: #333;
      padding: 0;
      font-weight: 800;
    }

    & .accordion-item.active p {
      display: block;
    }

    & .accordion-item h3 {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 15px;
      display: block;
      font-size: 24px;
      font-weight: normal;
      color: $light-text-color;

      @media (min-width: $tablet-width) {
        width: 250px;
        margin-left: 0;
        transform: rotate(90deg) translateX(33%);
      }
    }

    /*On mouse over open slide*/
    & .active {
      position: relative;
      width: 100%;

      @media (min-width: $tablet-width) {
        width: 73%;
      }
    }
    & .active h3 {
      top: 0px;
      left: 0;
      font-weight: 800;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    & .active:not(:last-of-type):after {
      content: url(../images/svg/circle-arrow.svg);
      width: 204px;
      height: 28px;
      position: absolute;
      top: 30px;
      right: 22px;
      @media (max-width: $mobile-and-table-only) {
        transform: rotate(90deg);
        right: -60px;
        top: 50%;
      }
    }
  }
}
