.about {
  max-width: $desktop-max-width;
  margin: 0 auto;
  position: relative;
  padding-top: 0;

  & .about-container {
    @include flex;
    position: relative;
    flex-wrap: wrap;
    gap: 45px;
    flex-direction: column;
    padding-bottom: 240px;

    background-image: url('../images/svg/hand-ok.svg'),
      url('../images/svg/hand-bottom.svg'), url('../images/svg/album.svg');
    background-position: 100% 107px, 100% 275px, 70% 830px;
    background-size: 160px, 220px, 300px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      gap: 74px;
      padding-bottom: 20px;
      background-position: 100% 0px, 105% 330px, 90% 950px;
      background-size: 300px, 400px, 400px;
    }
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      background-image: url('../images/svg/album.svg');
      background-position: 90% 185px;
      background-size: 450px;
      padding-bottom: 0;
    }
  }

  &__image {
    display: block;
    margin-right: auto;
    overflow: hidden;
    width: 111px;

    @media (min-width: $tablet-width) {
      width: 216px;
    }
    @media (min-width: $desktop-width) {
      width: 170px;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-right: auto;
    }
  }

  &__content {
    @include flex;
    flex-direction: column;
    @media (min-width: $desktop-width) {
      justify-content: space-between;
    }
  }

  &__pre-text {
    font-size: 2rem;
    text-align: left;
    order: -1;

    @media (min-width: $desktop-width) {
      grid-row-start: 1;
      grid-column-start: 2;
      text-align: center;
      order: 0;
    }

    & span {
      display: block;
      @media (min-width: $desktop-width) {
        display: block;
      }
    }
    & span:first-child {
      font-size: 24px;
      line-height: 32px;
      @media (min-width: $tablet-width) {
        font-size: 30px;
        line-height: 40px;
      }
      @media (min-width: $desktop-width) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    & span:last-of-type,
    & span:nth-of-type(2) {
      display: inline;
      @media (min-width: $desktop-width) {
        display: block;
      }
    }
  }

  &__text {
    @include flex;
    position: relative;
    left: 0;
    text-align: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    font-size: 20px;
    align-self: center;

    @media (min-width: $tablet-width) {
      gap: 20px;
      align-self: flex-start;
    }

    @media (min-width: $desktop-width) {
      font-size: 20px;
      justify-content: space-between;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    &-header {
      @include header-text;
      display: block;
      font-size: 34px;
    }
  }
}
