.benefits {
  position: relative;
  max-width: $desktop-max-width;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    background-image: url('../images/svg/hand-ok.svg'),
      url('../images/svg/hand-bottom.svg');
    background-position: 100% 50px, 100% 379px;
    background-size: 320px, 420px;
    background-repeat: no-repeat;
  }

  .section-container {
    @media (min-width: $desktop-width) {
      @include flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-container {
    @include flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width: $tablet-width) {
      flex-direction: row;
    }
    @media (min-width: $desktop-width) {
    }
  }

  &-text {
    @media (min-width: $desktop-width) {
      max-width: 700px;
    }
  }

  &-header {
    @include header-text;
    font-size: 32px;
    @media (min-width: $tablet-width) {
      max-width: 700px;
      margin-bottom: 30px;
    }
  }

  &-subheader {
    margin-bottom: 40px;
  }

  &__list {
    @include flex;
    flex-direction: column;
    gap: 60px;
    @media (min-width: $desktop-width) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      gap: 50px;
    }

    &-item h3 {
      font-size: 2rem;
      line-height: 22.8px;
      text-transform: uppercase;
      margin-bottom: 34px;
      position: relative;

      display: inline-block;
    }

    &-item h3::after {
      content: '';
      width: 100%;
      height: 6px;
      position: absolute;
      left: 0;
      bottom: -10px;
      background-image: url('../images/svg/underline.svg');
    }
  }
}
