.price {
  &-header {
    @include header-text;
    margin-bottom: 60px;
  }

  &-amount {
    display: block;
    font-size: 42px;
    text-transform: uppercase;
    position: relative;
    // padding-inline: 28px;
    padding: 28px;
    padding-left: 32px;
    margin-top: 20px;
    text-wrap: nowrap;
  }

  &-amount::before {
    content: '';
    display: block;
    width: 195px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 130px;
    transform: translateY(-60%);
    background-size: cover;
    background-image: url(../images/svg/chosen-big.svg);
    background-repeat: no-repeat;
  }

  .wrapper {
    @include flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
    align-items: center;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }

    .text-wrapper {
      @media (min-width: $tablet-width) {
        flex-basis: 50%;
      }
    }

    .text-wrapper p:not(last-of-type) {
      margin-bottom: 20px;
    }
  }

  & .button-order {
    margin: 0 auto;
  }
}
